
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Foorumi</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content='width=776'/>
        <link rel="stylesheet" href="../stylesheet.css" type="text/css"/>
    </head>

    <body>
        <div class="main">
            <h1>TiKaPe foorumi nro. 6715</h1>
            <h2>Made by ___, ___, ___ and ___</h2>
            <br/>
            <h3>Alueet:</h3>
            <ul>
                <li th:each="alue: ${alueet}">
                    <span th:text="${alue.nimi}">Alue of no value</span>

                    <!-- Will produce 'http://localhost:8080/gtvg/order/details?orderId=3' (plus rewriting) -->
                    <!--<a href="details.html" -->
                    <!--th:href="@{http://localhost:8080/gtvg/order/details(orderId=${o.id})}">view</a>-->
                </li>
            </ul>
        </div>
    </body>
</html>